BasedOnStyle: Google
Language: Cpp
ColumnLimit: 110
IndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: Inline
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterFunction: false
  AfterUnion: false
  AfterEnum: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 2
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '.*'
    Priority: 3
SortIncludes: true
Standard: c++26
